<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">
  <%= image_tag("gallery/logo.png", height: '30', width: '30', class: "d-inline-block align-top") %> SnS Photography
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery/show">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#launchModal">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/show">About</a>
      </li>
      <li class="nav-item">
        <a href="https://www.instagram.com/" class="fa fa-instagram pull-right"></a>
      </li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="launchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div class="container">
		  <div class="row test">
		    <div class="col-md-8. ">
		      <p><i class="material-icons">place</i> Texas, US </p>
		      <p><i class="material-icons">phone</i> Phone: +00 1515151515 </p>
		      <p><i class="material-icons">email</i> Email: TestEmail@mail.com </p>
		    </div>
		    <div class="col-md-12">
		      <div class="row">
		        <div class="col-sm-6 form-group">
		          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
		        </div>
		        <div class="col-sm-6 form-group">
		          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
		        </div>
		      </div>
		      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
		      <div class="row">
		        <div class="col-md-12 form-group">
		          <button class="btn pull-right" type="submit">Send</button>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div>
	<%= image_tag("gallery/front.jpg", class: "img-responsive", width: "100%", alt: "Responsive image") %>
</div>

