<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/index">
    <%= image_tag("pics/home.png", width: '30', height: '30', class: "d-inline-block align-top", alt: "home") %>
  </a>
</nav>

<div class="about-me">
<%= image_tag("pics/mansion.jpg", class: "img-fluid", alt: "Responsive image", width: "100%") %>
</div>

<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <h4 class="lead">I'm a photographer based in Dallas, TX. I thought it would be a good idea to start my own webpage to display my artwork.</h4>
  <hr class="my-4">
  <h4>You can contact me from the homepage below</h4>
  <a class="btn btn-info btn-sm" href="/index" role="button">Home</a>
</div>