// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: black;
	font-style: oblique;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}

p {
	color: black;
	font-style: italic;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}