// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    background: image-url('pics/front.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    /*Preserve Aspect Ratio*/
    min-width: 100%;
    min-height: 100%;
}

a {
	font-family: 'Ubuntu', sans-serif;
}

.fa {
  
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 0.3em;
}

.fa:hover {
    opacity: 0.8;
    color: #93EDC7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: none;
  color: white;
}

.modal-body {
	font-family: 'Ubuntu', sans-serif;
}

.modal-title {
	font-family: 'Ubuntu', sans-serif;
}

.modal-footer {
	font-family: 'Ubuntu', serif;
}

.material-icons { 
	font-size: 14px;
}