// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	font-family: 'Crimson Text', serif;
}

.fa {
  
  font-size: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #343A40;
  color: white;
}

.modal-body {
	font-family: 'Crimson Text', serif;
}

.modal-title {
	font-family: 'Crimson Text', serif;
}

.modal-footer {
	font-family: 'Crimson Text', serif;
}

.material-icons { 
	font-size: 14px;
}

